$headerColor: #20a035;
$headerBorderColor: #156b23;

$borderColor: #208c32; // Used for almost everything
$linkHoverColor: #156b23;

@mixin font($size, $family...) {
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    font-size: $size;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}

body {
    margin: 0px;
    padding: 0px;
    @include font(10pt, Verdana, sans-serif);
    color: black;
    background-image: url(http://static.schalpoen.nl/style/semigray.png);
}

textarea, input {
    @include font(10pt, Verdana, sans-serif);
    color: black;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid $linkHoverColor;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $linkHoverColor;
    }
}

td {
    color: black;
    background-color: #eee;
    border-bottom: 1px solid gray;
    border-right: 1px solid grey;
    vertical-align: top;
    padding: 0.5em;

    &:hover {
        color: black;
        background-color: #ddd;
    }
}
th {
    color: black;
    background-color: #eee;
    border-bottom: 1px solid gray;
    border-right: 1px solid grey;
    vertical-align: top;
    padding: 0.5em;
}

table {
    border: 1px solid gray;
    border-bottom: none;
    border-right: none;
}

hr {
    border: none;
    border-top: 1px solid $borderColor;
    height: 1px; // IE...
}

h1 {
    @include font(28pt, 'Shanti', sans-serif);
    font-weight: bold;
}

h2 {
    @include font(24pt, 'Shanti', sans-serif);

    a {
        border: none;
    }
}

h3 {
    @include font(18pt, 'Shanti', sans-serif);

    a {
        border: none;
    }
}

.navbar {
    padding: .5em;
    margin-bottom: 0px;
    background-color: $headerColor;
    border-bottom: 1px solid $headerBorderColor;

    a {
        border-bottom: none;
    }

    .navbar-brand {
        @include font(28pt, 'Shanti', sans-serif);
        font-weight: bold;
        color: white;
        height: auto;
        padding: 0px;
    }

    .nav li {
        a, button {
            color: white;
        }
    }

    .navbar-toggle {
        border-color: white;
        background-color: $headerColor;
        &:hover, &:focus {
            background-color: $headerColor;
            .icon-bar {
                background-color: $headerBorderColor;
            }
        }
    }

    .navbar-nav > .active > a {
        &, &:focus, &:hover {
            background-color: $headerColor;
        }
    }
}

#menu {
    border-left: none;
    border-top: none;

    p {
        margin: 0 0 1em 0;
    }
}

#content {
    padding: 1em;
    @media (max-width: 992px) {
        // Remove 15px Bootstrap gutter
        padding-left: 0px;
        padding-right: 0px;
    }

    h2 {
        margin: 0 0 .5em 0;
    }
}

.footer {
    height: 60px;
    clear: both;
    margin: 0;
    padding: .5em;
    padding-top: 1.5em;
    color: white;
    background-color: $headerColor;
    border-top: 1px solid $headerBorderColor;
    border-bottom: 1px solid $headerBorderColor;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    div p {
        margin: 0px;
    }
}

#profile {
    
}

.forceWidth {
    // For IE, which doesn't support max-width
    width: 46em;
}

.highlight {
    color: #0c0;
}

.comment {
    border: 1px solid $borderColor;
    margin-bottom: 1em;
    padding: 0.5em;
}

.commentReplies {
    margin-left: 1em;
    margin-right: 1em;
}

.commentReplyForm {
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.highlightBg {
    background-color: #dbffe1;
}

.lowlightBg {
    background-color: #eaffee;
}

.mededeling {
    font-style: italic;
    background-color: #dbffe1;
    color: black;
    border: 1px solid $borderColor;
    padding: .5em;
}

.error {
    background-color: #f88;
    border: 1px solid red;
    margin: 0.5em;
    padding: 0.5em;
}

.shortPost {
    padding: 1em;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 1em;
}

.post {
    @include font(11pt, 'Open Sans', sans-serif);
    color: black;
}

.longPost {
    overflow: visible;
}

.postInteractionArea {
    margin-top: 1em;
}

.shortPostPreview {
    border: 1px solid $borderColor;
    float: left;
    padding: 0px;
    margin: 10px;

    img {
        // IE...
        display: block;
        margin: 0px;
    }
}

.longPostPreview {
    float: left;
    margin-right: 1em;
}

.shortPostText {
    margin-left: 140px;
}

.archiveYearHeader {
    cursor: pointer;
}

.archiveYearBox {
    display: none;
    margin-left: 4em;
}

.archivePost {
    margin-bottom: 1em;
    text-align: center;
}

.archivePostPreview {
    border: 1px solid $borderColor;
    padding: 0px;
    margin: 10px;
    display: inline-block;

    // Needed for IE... (overflow: auto; does not work) Be careful: width is hardcoded here
    white-space: nowrap;
    width: 120px;

    img {
        // IE...
        display: block;
        margin: 0px;
    }
    a {
        img {
            // IE...
            border: none;
        }
    }
}

.archivePostText {
    
}

.archivePostTitle {
    font-weight: bold;
}

.contentPane {
    border: 1px solid $borderColor;
    padding: 1em;
    background: white;
}

.disabled {
    color: grey;
}

.draft {
    
}

.rejected {
    background-color: #ff8080;
}

.editor {
    width: 100%;
    height: 30em;
}
