$headerColor: #20a035;
$headerBorderColor: #156b23;
$borderColor: #208c32; // Used for almost everything
$linkUnderlineColor: #156b23;
$highlightColor: #eaffee;
$lowlightColor: #dbffe1;

$primary-color: #20a035;
$secondary-color: #ff9800;
$link-color: #448aff;

//$card-bg-color: #fafafa;
$card-link-color: $secondary-color;

@import "../materialize-components";

body {
    background-image: url(/style/semigray.png);
}

.brand-logo {
    padding-left: 0.5em !important;
}

img.bordered {
    @extend .z-depth-2;
}

.preview {
    float: left;
    padding-right: 1em;
    padding-bottom: .1em;

    img {
        @extend .z-depth-1;
    }
}

img.scaleWidth {
    width: 100%;
}

.highlightBg {
    background-color: $highlightColor;
}

.lowlightBg {
    background-color: $lowlightColor;
}

form.singleButtonForm {
    display: inline;
}

.embeddedVideo {
    border: none;
    width: 480px;
    height: 385px;
}